nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  flex-shrink: 1;
  margin-top: 20px;
}
nav a {
  color: #4C5866;
  text-decoration: none;
  font-size: 20px;
  margin-right: 35px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  flex-shrink: 1;
}

html {
  margin: 0;
}

body {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  flex-shrink: 1;
  margin-top: 100px;
}

.div-con-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-shrink: 1;
  width: 100%;
}

.text-wrapper-1 {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  flex-shrink: 1;
}

.txt-1 {
  font-size: 60px;
  font-weight: 400;
  color: #4C5866;
  margin-bottom: 0;
}

.par-1 {
  font-size: 18px;
  font-weight: 400;
  color: #85859B;
  margin-bottom: 30px;
}

.btn-1 {
  width: 255px;
  height: 70px;
  border: 1px solid #7875FE;
  padding: 20px 50px 20px 50px;
  background-color: white;
  cursor: pointer;
}

.txt-btn-1 {
  text-align: center;
  color: #7875FE;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.img-1 {
  width: 540px;
  z-index: -10;
  position: relative;
  top: 10px;
}

.img-con {
  position: relative;
  left: 200px;
}

.section-2 {
  height: 1000px;
  background-color: #EBEBEB;
  width: 100%;
  margin: 0;
  padding: 0;
}

.row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-shrink: 1;
}

.row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-shrink: 1;
}

.row-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-shrink: 1;
}

.row-paper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-shrink: 1;
  margin-top: 100px;
  width: 100%;
  height: 130px;
}

.row-paper img {
  width: 160px;
  height: 118px;
  margin-right: 30px;
  margin-left: 30px;
}

.row-txt p {
  font-size: 18px;
  color: #85859B;
}

.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-shrink: 1;
  margin-top: 100px;
}

.section-3 img {
  width: 730px;
  height: 564px;
}

.section-4 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex-shrink: 1;
  margin-top: 100px;
}

.card {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  flex-shrink: 1;
  margin: 20px;
}

.section-4 img {
  width: 255px;
  height: 180px;
}

.more {
  margin: 0;
}

.section-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-shrink: 1;
  width: 100%;
  margin-top: 100px;
  background-color: #EBEBEB;
  height: 300px;
}

.section-5 img {
  width: 255px;
  height: 135px;
  border: 1px solid #C4C4C4;
  width: 100%;
}

.brand-1 {
  margin-right: 30px;
}

.brand-2 {
  margin-right: 30px;
}

.brand-3 {
  margin-right: 30px;
}

.btn-2 {
  padding: 20px 50px 20px 50px;
  width: 255px;
  height: 70px;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #7875FE;
}

.scketch {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-shrink: 1;
  margin-top: 100px;
}

.sk-img img {
  width: 730px;
  height: 400px;
  margin-left: 100px;
  z-index: -10;
  position: relative;
  top: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  flex-shrink: 1;
  background-color: #4C5866;
  height: 80px;
  margin: 0;
}

.social {
  position: relative;
  right: 150px;
}

.logo-footer {
  position: relative;
  left: 150px;
}

.social svg {
  margin: 10px;
}/*# sourceMappingURL=style.css.map */